/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {

    /* menu section start */

    .main_menu ul {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
    }

    .main_menu ul li {
        margin-right: 0px;
        margin-top: 8px;
    }

    /* menu section end */

}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width:767.98px) {

    /* menu section start */    
    .main_menu ul {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
    }

    .main_menu ul li {
        margin-right: 0px;
        margin-top: 8px;
    }

    /* menu section end */

}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {

        /* menu section start */    
        .main_menu ul {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            margin-top: 10px;
        }
    
        .main_menu ul li {
            margin-right: 0px;
            margin-top: 8px;
        }
    
        /* menu section end */

}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {

}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1399.98px) {

}

/*XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) and (max-width: 1599.98px) {
	
}


/*Extra devices chack for screen size(1600-1800-2100)*/